//
//  DefaultConfiguration.xcconfig
//  PokeApp
//
//  Created by André Felipe Fleck Bedran on 19/02/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PKMN_BASE_URL = pokeapi.co/api/v2
ARTWORK_BASE_URL = raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
